# Ignore all the local configuration and build files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Ignore the build directory but include the APKs
/build/*

# Ignore captures and other native build files
/captures
.externalNativeBuild
.cxx

# Ignore local properties again just to make sure
local.properties

# Ignore .idea directory
.idea
