<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trilhar_logo_icone"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaPi"
        tools:targetApi="31">
        <activity
            android:name=".grafico.AtvGraph"
            android:exported="false" />
        <activity
            android:name=".Videos.TelaVideo"
            android:exported="false" />
        <activity
            android:name=".Videos.TelaVideo2"
            android:exported="false" />
        <activity
            android:name=".Videos.TelaVideo3"
            android:exported="false" />
        <activity
            android:name=".Videos.TelaVideo4"
            android:exported="false" />
        <activity
            android:name=".Videos.TelaVideo5"
            android:exported="false" />
        <activity
            android:name=".atv_modulos"
            android:exported="false" />
        <activity
            android:name=".Despesa.atv_despesa"
            android:exported="false" />
        <activity
            android:name=".Despesa.atv_cadastro"
            android:exported="false" />
        <activity
            android:name=".atv_menu"
            android:exported="false" />
        <activity
            android:name=".atv_metas"
            android:exported="false" />
        <activity
            android:name=".atv_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>